
img{
  width: 80%;
  height: 80%;
  margin: auto;
  display: block;
}
.ant-card-head {
  min-height: 48px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: rgb(251, 250, 250);
  font-weight: 500;
  font-size: 16px;
  background: #f12727e6;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 2px 2px 0 0;
  zoom: 1;
  background-color: #b3b1b3d1;
}
#root > div > div {
  width: 80%;
  margin: auto;
}