#root > div > div.ant-page-header.ant-page-header-ghost{
    width: 90%;
    margin-top: 2%;
    background-color: white;
}
#root > div > div.ant-descriptions.ant-descriptions-bordered{
    width: 90%;
}
#root > div > div.demo-infinite-container > div.ant-select.ant-select-enabled{
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 10%;
}
#root > div > div.ant-descriptions.ant-descriptions-bordered > div.ant-descriptions-title{
    text-align: center;
    margin-top: 10%;
    font-style: oblique;
    color: cadetblue;
    font-size: xx-large;
}
.ant-descriptions-item-label.ant-descriptions-item-colon{
    background-color:#c9dbdc;
}
.ant-btn.ant-btn-primary{
    background-color: #0e6467;
    border-color: white;
}
html, body {
    background-color: #f3e4e6;
}
#root > div {
    background-color: #f3e4e6;
}
tbody{
    background-color: #59d4d82e;
}
.ant-list-split .ant-list-item {
    border-bottom: 1px solid #087d78;
}
#components-back-top-demo-custom .ant-back-top {
    bottom: 100px;
  }
  #components-back-top-demo-custom .ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
    color: coral;
    background-color: black;
    text-align: center;
    margin: auto;
    height: auto;
  }
.ant-back-top{
    background-color: black;
    color: #ce6013;
    text-align: center;
    height: auto;
    border-radius: 100%;
    height: 7%;
    width: 4%;
    padding-top: 1%;
}