#root > div > h1{
    margin: auto;
    text-align: center;
    margin-top: 5%;
    color: darkolivegreen;
    font-style: oblique;
    font-size: -webkit-xxx-large;
}
#root > div > span{
    width: 200px;
    margin: auto;
    display: block;
    margin-top: 2%;
}
#root > div > div{
    width: 60%;
    margin: auto;
}
.ant-page-header.ant-page-header-ghost{
    width: 90%;
}
.anticon.anticon-unordered-list{
    color: #053305;
    size: ledger;
}
#root > div{
    background-color: beige;
}
html,body{
    background-color: beige;
}

.ant-list  {
    outline: none;
    color: #053305;
}